<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% trans %}please.sign.in{% endtrans %}{% endblock %}</title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
</head>

{% block body %}
<body>
<div class="d-flex align-items-center vh-100">
    <div class="d-flex justify-content-center w-100">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        <h1 class="h3 mb-3 font-weight-normal">{% trans %}register{% endtrans %}</h1>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-user-plus"></i> {% trans %}register{% endtrans %}</button>
    {{ form_end(registrationForm) }}
    </div>
</div>
</body>
{% endblock %}
</html>
