<div class="card my-4">
    <a class="card-header" href="{{ path('post_show', {'id': post.id,'slug': post.title | replace({'&': 'and'}) | slugify }) }}">
        <h3 class="card-link float-left">{{ post.title }}</h3>
        <span class="card-subtitle float-right">{{ post.created ? post.created|date() : '' }}</span><br>
        <span class="card-subtitle float-right">{{ post.user.name }} {{ post.user.surname }}</span>
    </a>
    <div class="card-body">
        <p class="card-text">{{ post.content }}</p>
    </div>

    {% if app.user %}
    <div class="card-footer d-flex justify-content-start">
    {% if app.user.id == post.user.id %}
        <a class="btn btn-link btn-sm" role="button" href="{{ path('post_edit', {'id': post.id}) }}">
            <i class="far fa-edit"></i> {% trans %}edit{% endtrans %}
        </a>
        {{ include('post/_delete_form.html.twig') }}
    {% endif %}
        {{ include('user/likes/_form.html.twig') }}
    </div>
    {% endif %}

</div>