<div class="card my-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <a href="{{ path('post_show', {'id': post.id}) }}">
            <h3 class="card-link m-0">{{ post.title }}</h3>
        </a>
        <div class="d-flex align-content-between align-items-center">
            <div class="d-flex flex-column align-items-end">
                <a class="card-subtitle" href="{{ path('user_show', {'id': post.user.id}) }}">
                    {% if post.user.images %}
                        <img class="rounded-circle"
                             src="{{ asset('media/image/' ~ post.user.images[0] ~ '.jpg')|imagine_filter('squared_thumbnail_mini') }}"
                             alt="Card image cap">
                    {% else %}
                        <img class="card-img-top"
                             src="{{ asset('media/image/no_image.jpg')|imagine_filter('squared_thumbnail_mini') }}"
                             alt="Card image cap">
                    {% endif %}
                </a>
                <span class="card-subtitle mt-auto">{{ post.user.firstname }} {{ post.user.lastname }}</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{ post.content }}</p>
    </div>

    {% if app.user %}
    <div class="card-footer d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
        {% if app.user.id == post.user.id %}
            <a class="btn btn-link btn-sm" role="button" href="{{ path('post_edit', {'id': post.id}) }}">
                <i class="far fa-edit"></i> {% trans %}edit{% endtrans %}
            </a>
            {{ include('post/_delete_form.html.twig') }}
        {% endif %}

        {% if post.id in app.user.likes %}
            {{ include('user/likes/_delete_form.html.twig') }}
        {% else %}
            {{ include('user/likes/_form.html.twig') }}
        {% endif %}

        </div>
        <span class="card-subtitle font-italic text-black-50 text-sm-right">{% trans %}created.at{% endtrans %} {{ post.createdAt ? post.createdAt|date() : '' }}</span>
        </div>
    {% endif %}

</div>