<form class="row" method="get" action="{{ path('post_index') }}">
    <div class="col-lg-auto col-sm-12">
    <input id="search" class="form-control" type="search" name="search" placeholder="{% trans %}search.posts{% endtrans %}" aria-label="search"
           value="{{ app.request.get('search') }}">
    </div>
    <div class="col-lg-auto col-sm-12">
    <input id="date-from" class="form-control" type="date" name="from" max="{{ "now"|date(date_format) }}" placeholder="{% trans %}from{% endtrans %}" aria-label="from"
           value="{{ app.request.get('from') }}">
    </div>
    <div class="col-lg-auto col-sm-12">
    <input id="date-to" class="form-control" type="date" name="to" max="{{ "now"|date(date_format) }}" placeholder="{% trans %}to{% endtrans %}" aria-label="to"
           value="{{ app.request.get('to') }}">
    </div>
    <div class="col-lg-auto col-sm-12">
    <button id="search-submit" class="btn text-light w-100" type="submit">
        <i class="fas fa-search"></i>
    </button>
    </div>
</form>