<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
    </head>
    <body>
    {% block header %}
        <header class="container d-flex justify-content-center text-center p-3">
            <h1 class="h1">{% trans %}welcome.to{% endtrans %} {{ app.request.server.get('SERVER_NAME')|upper }}</h1>
        </header>
    {% endblock %}

    {% block navigation %}
        {{ include('template-parts/nav.html.twig') }}
    {% endblock %}

    <main class="min-vh-100">
        <div role="main" class="container">
            {% block user %}
            <div class="float-right">
                {% if app.user %}
                    <div class="mb-3">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="currentUserDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% trans %}hello{% endtrans %}, {{ app.user.name }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="currentUserDropdown">
                                    <a class="dropdown-item" href="{{ path('user_show', {'id': app.user.id, 'name': app.user.name|lower ~ '.' ~ app.user.surname|lower }) }}">
                                        <i class="fas fa-user"></i> {% trans %}my.profile{% endtrans %}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('user_posts', {'id': app.user.id, 'name': app.user.name|lower ~ '.' ~ app.user.surname|lower }) }}">
                                        <i class="fas fa-file-alt"></i> {% trans %}my.posts{% endtrans %}
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-comment-dots"></i> {% trans %}my.messages{% endtrans %}
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-users"></i> {% trans %}my.friends{% endtrans %}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('user_favorites', {'id': app.user.id, 'name': app.user.name|lower ~ '.' ~ app.user.surname|lower }) }}">
                                        <i class="fas fa-star"></i> {% trans %}my.favorites{% endtrans %}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('user_likes', {'id': app.user.id, 'name': app.user.name|lower ~ '.' ~ app.user.surname|lower }) }}">
                                        <i class="fas fa-heart"></i> {% trans %}my.likes{% endtrans %}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('logout') }}">
                                        <i class="fas fa-sign-out-alt"></i> {% trans %}logout{% endtrans %}
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <div class="mb-3">
                        {% if app.request.attributes.get('_route') != 'app_login' %}
                            <a class="btn btn-link" href="{{ path('login', {'_locale' : app.request.locale}) }}"><i class="fas fa-sign-in-alt"></i> {% trans %}login{% endtrans %}</a>
                        {% endif %}
                        {% if app.request.attributes.get('_route') != 'app_register' %}
                            <a class="btn btn-link" href="{{ path('register', {'_locale' : app.request.locale}) }}"><i class="fas fa-user-plus"></i> {% trans %}register{% endtrans %}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
        </div>
    </main>
    {% block footer %}
        <footer class="footer d-flex justify-content-center p-4">
            <span>&copy; {{ "now"|date("Y") }} - {{ app.request.server.get('SERVER_NAME')|upper }}</span>
        </footer>
    {% endblock %}
    </body>
</html>
