{% extends 'base.html.twig' %}

{% block title %}{% trans %}all.posts{% endtrans %}{% endblock %}

{% block body %}

    <h1>{% trans %}all.posts{% endtrans %}</h1>
    <hr class="my-4">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    {% if posts is not empty %}
        {% for post in posts %}

            <div class="card my-4">

                {{ include('template-parts/card-header/post/index.html.twig') }}

                {{ include('template-parts/card-body/post/index.html.twig') }}

                {% if app.user %}
                    {{ include('template-parts/card-footer/post/index.html.twig') }}
                {% endif %}

            </div>

        {% endfor %}
        <hr class="my-4">
        {{ include('template-parts/pagination/post/index.html.twig') }}
    {% else %}
        <p class="card-text">{% trans %}no.records.found{% endtrans %}</p>
    {% endif %}

    {% if app.request.get('_route') != 'user_likes' %}
    <div class="card my-4">
        <a class="btn btn-link" href="{{ path('post_new') }}"><i class="fas fa-plus"></i> {% trans %}new.post{% endtrans %}</a>
    </div>
    {% endif %}
{% endblock %}
