{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <hr class="my-4">

    {{ include('template-parts/breadcrumb/post/show.html.twig') }}

    {{ include('template-parts/alert/post/show.html.twig') }}

    <div class="card my-4">

        {{ include('template-parts/card-header/post/show.html.twig') }}

        {{ include('template-parts/card-body/post/show.html.twig') }}

        {% if app.user %}
            {{ include('template-parts/card-footer/post/show.html.twig') }}
        {% endif %}

    </div>

{% endblock %}
