{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item">
                <a href="{{ path('post_index') }}"><i class="fas fa-caret-left mr-2"></i>{% trans %}all.posts{% endtrans %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
        </ol>
    </nav>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    <div class="card my-3 mx-auto">
        <div class="card-header">
            <h3 class="card-link float-left">{{ post.title }}</h3>
            <span class="card-subtitle float-right">{{ post.created ? post.created|date('F j, Y, g:i a') : '' }}</span><br>
            <span class="card-subtitle float-right">{{ post.user.name }} {{ post.user.surname }}</span>
        </div>
        <div class="card-body">
            <p class="card-text">{{ post.content }}</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-link" role="button" href="{{ path('post_edit', {'id': post.id}) }}">
                <i class="far fa-edit"></i> {% trans %}edit{% endtrans %}
            </a>
            {{ include('post/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
