{% set route = app.request.get('_route') %}

{% set button_label = (route == 'user_edit') ? 'update' : 'save' %}
{% set user_edit = (app.user is not null and app.user.id == user.id) ? path('my_profile_edit') : path('user_edit', {'id': user.id}) %}
{% set image_new = (app.user is not null and app.user.id == user.id) ? path('my_image_new') : path('user_image_new', {'id': user.id}) %}

{% extends 'base.html.twig' %}

{% block title %}{% trans %}edit.user{% endtrans %} {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <h1>{{ user.firstname }} {{ user.lastname }}</h1>
    <hr class="my-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="{{ path('user_index') }}"><i class="fas fa-caret-left mr-2"></i>  {% trans %}all.users{% endtrans %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ user.firstname }} {{ user.lastname }}</li>
        </ol>
    </nav>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link{% if route in ['my_profile_edit', 'user_edit'] %} active{% endif %}"
               href="{{ user_edit }}">{% trans %}info{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if route in ['my_image_new', 'user_image_new'] %} active{% endif %}"
               href="{{ image_new }}">{% trans %}image.upload{% endtrans %}</a>
        </li>
    </ul>

    <div class="row">
        <div class="card p-3 mx-auto col-sm-12 col-md-7 col-lg-7">
            {% include 'template-parts/img-thumbnail/user/edit.html.twig' %}
        </div>
        <div class="card p-3 mx-auto col-sm-12 col-md-5 col-lg-5">
            {% include 'user/_form.html.twig' with {'button_label': button_label|trans} %}
            {% if route == 'user_edit' %}
                {% include 'user/_delete_form.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
