{% extends 'base.html.twig' %}

{% block title %}{% trans %}all.users{% endtrans %}{% endblock %}

{% block body %}

    <h1>{% trans %}all.users{% endtrans %}</h1>
    <hr class="my-4">
    {% if users %}
    <div class="row">
        {% for user in users %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card my-3 mx-auto">
                {% if user.images %}
                <a href="{{ path('user_show', {'id': user.id}) }}">
                    <img class="card-img-top" src="{{ asset('media/image/' ~ user.images[0] ~ '.jpg')|imagine_filter('squared_thumbnail_small') }}" alt="Card image cap">
                </a>
                {% else %}
                <a href="{{ path('user_show', {'id': user.id}) }}">
                    <img class="card-img-top" src="{{ asset('media/image/no_image.jpg')|imagine_filter('squared_thumbnail_small') }}" alt="Card image cap">
                </a>
                {% endif %}
                <a class="card-header" href="{{ path('user_show', {'id': user.id}) }}">
                    <h5 class="card-link">{{ user.name }} {{ user.surname }}</h5>
                    {% if user.lastLogin %}
                        {% if date('now').diff((date(user.lastLogin))).format('%h') == 0 and
                        date('now').diff((date(user.lastLogin))).format('%i') < 30 %}
                            <span class="dot green"></span>
                            <span class="font-italic text-small">online</span>
                        {% else %}
                            <span class="dot grey"></span>
                            <span class="font-italic text-small">{% trans %}was.online.at{% endtrans %} {{ user.lastLogin|date() }}</span>
                        {% endif %}
                    {% endif %}

                </a>
                <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ user.isMale == 1 ? '<i class="fas fa-male"></i>' : '<i class="fas fa-female"></i>' }}</li>
                    {% if user.description %}
                    <li class="list-group-item">
                        <p class="card-text">{{ user.description|striptags|slice(0, 30) }}
                            <a class="-external-link" href="{{ path('user_show', {'id': user.id}) }}">[...]</a>
                        </p>
                    </li>
                    {% endif %}
                    <li class="list-group-item">{{ date('now').diff((date(user.birthDate))).format('%y') }} {% trans %}years.old{% endtrans %}</li>
                </ul>
                </div>

                {% if app.user and app.user.id == user.id %}
                <div class="card-footer d-flex justify-content-end">
                    <a class="btn btn-link" role="button" href="{{ path('user_edit', {'id': user.id}) }}">
                        <i class="far fa-edit"></i> {% trans %}edit{% endtrans %}
                    </a>
                    {{ include('user/_delete_form.html.twig') }}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p class="card-text">{% trans %}no.records.found{% endtrans %}</p>
    {% endif %}
{% endblock %}
