{% extends 'base.html.twig' %}

{% block title %}{% trans %}user.index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}user.index{% endtrans %}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{% trans %}id{% endtrans %}</th>
                <th scope="col">{% trans %}name{% endtrans %}</th>
                <th scope="col">{% trans %}surname{% endtrans %}</th>
                <th scope="col">{% trans %}sex{% endtrans %}</th>
                <th scope="col">{% trans %}age{% endtrans %}</th>
                <th scope="col">{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th class="align-middle" scope="row">{{ user.id }}</th>
                <td class="align-middle">{{ user.name }}</td>
                <td class="align-middle">{{ user.surname }}</td>
                <td class="align-middle">{{ user.isMale == 1 ? 'Male' : 'Female' }}</td>
                <td class="align-middle">{{ date('now').diff((date(user.birthDate))).format('%y') }}</td>
                <td class="align-middle">
                    <a id="btn_show" class="btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}"><i class="far fa-eye"></i> {% trans %}show{% endtrans %}</a>
                    <a id="btn_edit" class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}"><i class="far fa-edit"></i> {% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{% trans %}no.records.found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
