{% extends 'base.html.twig' %}

{% block title %}{{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <h1>{{ user.firstname }} {{ user.lastname }}</h1>
    <hr class="my-4">

    {{ include('template-parts/breadcrumb/user/show.html.twig') }}

    <div class="card my-3 p-0 mx-auto col-sm-12 col-md-6 col-lg-6">
        {% if user.lastLogin %}
            {% if date('now').diff((date(user.lastLogin))).format('%h') == 0 and
            date('now').diff((date(user.lastLogin))).format('%i') < 10 %}
                <span class="dot green position-absolute"></span>
            {% else %}
                <span class="dot grey position-absolute"></span>
            {% endif %}
        {% endif %}

        {% if user.images %}
            {{ include('template-parts/carousel/user/show.html.twig') }}
        {% else %}
            <img class="card-img-top" src="{{ asset('media/image/no_image.jpg')|imagine_filter('squared_thumbnail_medium') }}" alt="Card image cap">
        {% endif %}

        {{ include('template-parts/card-header/user/show.html.twig') }}

        {{ include('template-parts/card-body/user/show.html.twig') }}

        {% if app.user %}
            {{ include('template-parts/card-footer/user/show.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
