{% extends 'base.html.twig' %}

{% block title %}{{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}

    <h1>{{ user.firstname }} {{ user.lastname }}</h1>
    <hr class="my-4">

    {{ include('template-parts/breadcrumb/user/show.html.twig') }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    <div class="card my-3 p-0 mx-auto">

        {{ include('template-parts/card-img-top/user/show.html.twig') }}

        {{ include('template-parts/card-header/user/show.html.twig') }}

        {{ include('template-parts/card-body/user/show.html.twig') }}

        {% if app.user %}
            {{ include('template-parts/card-footer/user/show.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
