{% extends 'base.html.twig' %}

{% block title %}{% trans %}user{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}user{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}id{% endtrans %}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}name{% endtrans %}</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}surname{% endtrans %}</th>
                <td>{{ user.surname }}</td>
            </tr>
            <tr>
                <th>{% trans %}sex{% endtrans %}</th>
                <td>{{ user.isMale ==1 ? 'Male' : 'Female' }}</td>
            </tr>
            <tr>
                <th>{% trans %}birthDate{% endtrans %}</th>
                <td>{{ user.birthDate|date("d M Y") }}</td>
            </tr>
            <tr>
                <th>{% trans %}email{% endtrans %}</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">{% trans %}back.to.list{% endtrans %}</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
